<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		
	
	  <script type="text/javascript" src="calendar-2.5.js"></script>
	
	<script type="text/javascript" src="main.js"></script>
	
	<script type="text/javascript" src= "http://requirejs.org/docs/release/2.1.22/minified/require.js"></script> 
		 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		
		
		
<!-- //  first way parsing json -->
		<script>
		var json = $.getJSON( "data.json", function() {
			console.log( "success" );
		})
		</script>
		
		
		   <script type="text/javascript">
			
			var json = require('data.json');
//  		second way of parsing json
			
		     var myCalendar = new JEC('myCalendarContainer');
		     myCalendar.defineEvents([
		      { 
		        eventDate: 20100407, 
//		        eventDescription: 'JEC 2.0 Released', 
		       eventLink: 'http://calendar.ilsen.net',
		        eventLinkTitle: 'A JavaScript Event Calendar'
		      }, 
//	json
		
		
		
//		       { eventDate: 20160101, eventDescription: 'Bike' },
//		{ eventDate: 20160101, eventDescription: 'Walking' }


		    ]);
		    myCalendar.showCalendar();
		   </script>
		   <link rel="stylesheet" href="mycalendar.css" type="text/css" />
		
		
		
		
		
		
		
		<title></title>
	</head>
	<body>
		<div id='myCalendarContainer'></div>
	</body>
</html>