<html itemscope itemtype="http://schema.org/Article">
<head>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/wlcmStyle.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.css">
    <!-- BEGIN Google Sign-In Pre-requisites -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="1047651366452-32ph4ndul3s5caub46t3nbue3p5e5uha.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- END Google Sign-In Pre-requisites -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
            ;
        });
    </script>
    <style type="text/css">
        /* Paste this css to your style sheet file or under head tag */
        /* This only works with JavaScript,
        if it's not present, don't show loader */
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(/images/loader.gif) center no-repeat #fff;
        }
    </style>
</head>
<body>
<div class="se-pre-con"></div>
<div class="wlcmNav">

    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
        function onSignIn(googleUser) {

            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            if (getParameterByName("redirect")){
                document.cookie="REDIRECTION=" + getParameterByName("redirect");
                window.location = 'http://localhost:8080/usr/login?redirect='+getParameterByName("redirect");
            } else{
                window.location = 'http://localhost:8080/usr/login';
            }

        }
    </script>
    <div id="result"></div>
</div>

<div id="light" class="white_content">
    <a href="javascript:void(0)"
       onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
        <span class="glyphicon glyphicon-remove" style="float:right;"></span>
    </a>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<div id="fade" class="black_overlay"></div>


<div class="cycle-slideshow">
    <img class="img-responsive" src="/images/welcomepic4.jpg">
    <img class="img-responsive" src="/images/welcomepic2.jpg">
    <img class="img-responsive" src="/images/welcomepic1.jpg">
</div>

<section class="section-spacing text-center">

    <div class="container">

        <header class="section-header">
            <h2>Main Benefits Of The Product</h2>
            <h3>Reasons why you should choose this product</h3>
        </header>

        <div class="row">
            <div class="col-sm-4"><img src="images/benefits-1.png" alt="benefits of product">
                <h4>Lorem Lpsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore.</p>
            </div>
            <div class="col-sm-4"><img src="images/benefits-2.png" alt="benefits of product">
                <h4>Lorem Lpsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore.</p>
            </div>
            <div class="col-sm-4"><img src="images/benefits-3.png" alt="benefits of product">
                <h4>Lorem Lpsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore.</p>
            </div>
        </div>

    </div>

</section>


</body>

<script src="scripts/jquery-2.1.1.js"></script>
<script src="scripts/wlcm.js"></script>
<script src="scripts/jquery.cycle2.min.js"></script>

</html>


